*{margin: 0; padding:0;}
body{position: relative; font-size: 18px; line-height: 22px; word-spacing: -1px; min-height: 100%;}
h1, hr, img{margin-bottom: 10px;}
h2, h3, ul, ol, p, hr{margin-bottom: 5px;}
a{color: #228B22;}
a:visited {color: #22718B;}

header{padding:20px 0 5px 10px; width:100%; background-color:#22718B; font-size: 18px;}
header a, header a:visited{color: white}
section{padding: 10px; max-width: 700px;}

h1{font-weight: normal; font-size: 2em; line-height: 0.8em;}
header.home{padding:50px 0 5px 10px; background-color:#22718B; color: white;}
header.home h1{font-size: 2.6em; line-height: 0.8em;}
#description{font-size: 1.2em; line-height: 1.2em;}

hr{margin-top: 10px; height: 1px; border: 0; background-color: lightgrey;}
.topic{text-transform: uppercase; font-size: 0.6em}
h2{margin-top: 20px; font-weight: normal; font-size: 1.2em; line-height: 1em;}
ul li{list-style-type: none;}
ul li::before {content: "+ "; color: grey;}
ol {list-style-position: inside;}
ol li {}
li h2 {margin: 0; display: inline-block; font-size: 1em;}
li h2 a {text-decoration: none;}
.date{color: grey; font-size: 0.6em;}
footer {
  padding: 20px 10px 10px;
  max-width: 700px;
 font-size: 0.8em;;
}
article{padding: 10px; max-width: 700px;}
h1.article{margin: 30px 0 15px; font-size: 1.8em; line-height: 1em;}
h3{margin-top: 20px; font-size: 1em;}
img{margin: 10px 0; max-width: 300px;}

#index_bkg {width: 100%; position: relative; z-index: -100;}
#index_bkg img{position: absolute; margin: 0; padding: 0; max-width: 800px; right: 0; }
#coronaze_song{font-family: monospace; font-size: 0.8em; line-height: 1.4em;}
#coronaze_song p{margin-bottom: 10px;}
