---
layout: index.liquid
pageTitle: Une nouvelle communauté
---
<hr>
<p class="topic">articles</p>
<ul>
  {% for article in collections.articles reversed %}
  <li>
    <h2><a href="{{ article.url }}">{{ article.data.pageTitle }}</a></h2>
    <span class="date"> — {{ article.date | date: "%d/%m" }}</span>
  </li>
  {% endfor %}
</ul>
<hr>
<p class="topic">ouvrages</p>
<ul>
  {% for ouvrage in collections.ouvrages %}
  <li>
    <h2><a href="{{ ouvrage.url }}">{{ ouvrage.data.pageTitle }}</a></h2>
  </li>
  {% endfor %}
<li>
  Un ouvrage collectif en préparation : <a href="https://pads.domainepublic.net/p/9g50-99-notes-preparatoires-nouvelle-communaute">99 notes préparatoires à la nouvelle communauté</a>
</li>
<hr>
</ul>
<p class="topic">recettes</p>
<ul>
  {% for recette in collections.recettes reversed %}
  <li>
    <h2><a href="{{ recette.url }}">{{ recette.data.pageTitle }}</a></h2>
  </li>
  {% endfor %}
</ul>
<p>À venir: Pâte à pizza, pancakes, gateau au citron de Bidou...</p>
