    <footer>
      <hr>
      <p>
        Site construit à l'aide d'<a href="https://www.11ty.dev/">Eleventy</a> et hébergé sur <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/">GitLab Pages</a>.
      </p>

    </footer>
    <div id="index_bkg">
      <img src="/iconographie/rochers-001.gif" alt="Quelques rochers bretons">
    </div>
  </body>
</html>
