<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ pageTitle }} — Une nouvelle communauté</title>
        <link rel="stylesheet" href="/frugal.css">
    </head>
    <body>
