{% include head.html %}
<header class="home">

  <h1>{{ pageTitle }} ☘</h1>

</header>
<section>
    <p id="description">Documentation et diffusion des efforts d'animation d'une nouvelle communauté entre Pont-Aven, Port Manec'h et Stang Tremorvezen</p>

        {{ content }}

</section>

{% include footer.html %}
