{% include head.html %}
<header>
  <a href="/">Une nouvelle communauté...</a>
</header>
<article id="coronaze_song">
        <h1 class="article">{{ pageTitle }}</h1>

        {{ content }}
</article>
{% include footer.html %}
