{% include head.html %}
<header>
  <a href="/">Une nouvelle communauté...</a>
</header>
<article>
        <h1 class="article">{{ pageTitle }}</h1>

        {{ content }}
</article>
<section>
</ul>
<p class="topic">Autres recettes</p>
<ul>
  {% for recette in collections.recettes reversed %}
  <li>
    <h2><a href="{{ recette.url }}">{{ recette.data.pageTitle }}</a></h2>
  </li>
  {% endfor %}
</ul>
</section>

{% include footer.html %}
